{% extends 'base.html' %}

{% block content %}
    <h3>Lista de Visitantes:</h3>
    <ul>
        {% for v in visitantes %}
            <li>
                {{ v.nome }} 
                <form action="{% url 'remover_visitante' v.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Deseja mesmo remover este visitante?')">Remover</button>
                </form>
            </li>
        {% empty %}
            <p>Nenhum visitante cadastrado.</p>
        {% endfor %}
    </ul>
{% endblock %}